name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    name: Python ${{ matrix.python }} CI

    strategy:
      fail-fast: false
      matrix:
        python: ['3.7', '3.8', '3.9', '3.10', '3.11', '3.12', '3.13']

    steps:
      - name: Clone repository
        uses: actions/checkout@v5

      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools tox

      - name: Tox tests
        run: |
          tox -v

      - name: Codecov
        uses: codecov/codecov-action@v4
        with:
          name: Python ${{ matrix.python }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
